/* navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.navbar {
    width: 100%;
    margin-bottom: 2px;
    background-color: #fff;
    border-bottom: 2px solid #f2f2f2;    
}
.header__navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.header__phone{

}
.header__phone--number{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color:var(--text-color);
    text-decoration: none;

}
.header__phone--number-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto 12px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color:var(--text-color);
    color: #fff;
}
.header__icon-navbar {
    font-size: 2.2rem;
}
.header__icon {
    margin-right: 32px;
}
.header__icon:hover{
    color: #58b3f0;
}
.header__cart-number {
    position: absolute;
    color: #fff;
    background-color: #ff6517;
    top:4px;
    right:155px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 2px 6px;
    border:1px solid #f14e2e;
    border-radius: 50%;
}

/* category of navbar */
.category{
    width: 100%;
    height: 55px;
    top: 54px;
    position:absolute;
    margin-right: 25px;
    background-color: #fff;
    z-index: 99;
}
.header__category-list{
    display: flex;
    max-width: 100%;
    margin:18px 122px 0 122px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    z-index: 99;
}

.header__category-item {
    font-size: 1.4rem;
}
.header__category-item-icon {
    font-size: 1.4rem;
    font-weight: 400;
}
.header__category-option1 {
    width: 200px;
    padding: 0;
    position: absolute;
    list-style: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #cccbcb;
    display: none;
}
.header__category-option2 {
    width: 155px;
    padding: 0;
    position: absolute;
    list-style: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #cccbcb;
    display: none;
}
.header__category-option3 {
    width: 170px;
    padding: 0;
    position: absolute;
    list-style: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #cccbcb;
    display: none;
}
.header__category-option4 {
    width: 180px;
    padding: 0;
    position: absolute;
    list-style: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #cccbcb;
    display: none;
}
.header__category-option-item {
    padding: 8px 12px;
    color:var(--text-color);
}
.header__category-option-item:hover {
    color: #58b3f0;
}
.header__category-title{
    padding-bottom:8px;
}
.header__category-title:hover{
    cursor: pointer;
    color: #58b3f0;
}
.header__category-item:hover .header__category-option1{
    display: block;
    cursor: pointer;
}
.header__category-item:hover .header__category-option2{
    display: block;
    cursor: pointer;
}
.header__category-item:hover .header__category-option3{
    display: block;
    cursor: pointer;
}
.header__category-item:hover .header__category-option4{
    display: block;
    cursor: pointer;
}
.category-heading{
    display: block;
}
/* Slider */
#slider {
    display: block;
    width: 1458px;
    height:548px;
    border-radius: 3px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex; 
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
    border-radius: 3px;
}
.slide-img {
     width:100%;
     height: 600px;
}

/* css for manual slide navigation */
.navigation-manual{
    position: absolute;
    width:100%;
    margin-top: -40px;
    display: none;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #ff6517;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #ff6517;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
#radio5:checked ~ .first {
    margin-left: -80%;
}
/* css auto navigation */
.navigation-auto{
    position: absolute;
    display: none;
    width: 100%;
    justify-content: center;
    margin-top: 506px;
}
.navigation-auto div {
    border: 2px solid #ff6517 ;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #ff6517; ;
}
#radio2:checked ~ .navigation-auto .auto-btn1{
    background-color: #ff6517; ;
}
#radio3:checked ~ .navigation-auto .auto-btn1{
    background-color: #ff6517; ;
}
#radio4:checked ~ .navigation-auto .auto-btn1{
    background-color: #ff6517; ;
}
#radio5:checked ~ .navigation-auto .auto-btn1{
    background-color: #ff6517; ;
}

/* Content */
.category-content {
    width: 264px;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 0 5px #cccbcb;
}
.category-heading {
    font-size: 1.6rem;
    padding: 20px 20px 12px;
    font-weight: 500;
    margin: 72px 0 0 0;
    border-bottom: 1px solid #f1f1f1;
}
.category-conten__list {
}
.category-conten__item {
    list-style: none;
    margin:12px 0;
    font-weight: 500;

}
.category-conten__item--link {
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.4rem;
}
.home__filter {
    width: 805px;
    height: 55px;
    margin: 72px 0 0 0;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px #cccbcb;
}
.home__filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 55px;
    margin: 0 20px;
    border-radius: 3px;


}
.home__filter-select {
    font-size: 1.6rem;
}
.select-option {

}
.select-option__item {
    width: 150px;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

/* Product */
.home-product{
    margin-bottom: 10px;
}

.home__product-item{
    display: block;
    text-decoration: none;
    color:var(--text-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    background-color: var(--white-color);
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border:1.5px solid var(--main-color);
}

.home-product-item__img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 100%;
}

.home-product-item__name{
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    font-size: 1.4rem;
    margin: 10px 10px 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2 ;
    font-weight: 420;
}

.home-product-item__price{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-left: 10px;
}

.home-product-item__price-old{
    font-size: 1.2rem;
    font-weight: 1000;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: line-through;
}

.home-product-item__price-current{
    font-size: 1.2rem;
    font-weight: 1000;
    color:var(--main-color);
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
}
i.home-product-item__like-icon-fill{
    color:#f53d2f;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 0.8rem;
    color:#ffce3d;
}